html,
body {
  height: 100%;
  background-image: url("Foto's/20190717-fiat-500-08_b.jpg");
  background-repeat: no-repeat;
  background-size: 2600px 1500px;
  background-color: rgb(226, 226, 226);
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  overflow: inherit;
  text-align: center;
  font-family: verdana, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  flex: 1;
}
#button {
  background-color: white;
  border-color: white;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
}

#lastName {
  margin-top: 100px;
  background-color: yellow;
  font-size: 100px;
  border-radius: 10px;
  height: 100px;
  width: 325px;
  margin-top: 100px;
}
