html,
body {
  height: 100%;
  background-image: url(20190717-fiat-500-08_b.jpg);
  background-repeat: no-repeat;
  background-size: 2600px 1500px;
  background-color: rgb(226, 226, 226);
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  overflow: inherit;
  text-align: center;
  font-family: verdana, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  flex: 1;
}
#button {
  background-color: white;
  border-color: white;
  border-radius: 10px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
}

#kenteken {
  margin-top: 100px;
  background-color: yellow;
  font-size: 100px;
  border-radius: 10px;
  height: 100px;
  width: 500px;
  margin-top: 100px;
  text-align: center;
}
#mijnGrafiek {
  max-width: 80%;
  min-width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
}

#basis_info {
  width: 80%;
  height: fit-content;
  border: 2px solid black;
  background-color: rgb(226, 226, 226, 0.4);
  margin: 30px auto;
  border-radius: 10px;
  overflow: hidden;
}
#general_info {
  height: 70px;
  width: 100%;
  font-family: sans-serif;
  color: black;
  background-color: yellow;
  text-align: center;
  overflow: hidden;
  font-size: 65px;
}
p {
  display: unset;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-left: 5px;
}
#other_info {
  text-align: left;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-row-gap: 1px;
}
#grafieken {
  height: fit-content;
  width: fit-content;
  margin: 20px auto;
}
#button_grafieken {
  width: fit-content;
  height: 30px;
  background-color: rgb(226, 226, 226, 0.8);

}
:hover #button_grafieken{
  cursor: pointer;
}
:hover #button {
  cursor: pointer;
}

#grafiek_grid {
  margin:0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1px;
}
.grafiek {
  width: 50%;
  height: fit-content;
  margin: 0;
}